@import "./import.scss";

.app{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: $col-desktop) { 
  .app{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }   
}