@import 'assets/styles/import.scss';

.content-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 73%;
  justify-content: space-between;
}

.frame{
  padding: 5px;
  max-width: 100%;
}

@media (max-width: $col-desktop) { 
  .content-section{
      max-width: 100%;
      width: 100%;
  }

}