@import 'assets/styles/import.scss';

.container{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

@media (max-width: $col-desktop) { 
    .container{
        row-gap: 20px;
    }

}