@import 'assets/styles/import.scss';

.items-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.frame{
    width: 25%;
}

@media (max-width: $col-xs) { 
    .frame{
        width: 100%;
    }

}