@import 'assets/styles/import.scss';

.items-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 92%;
    overflow-y: auto;

    p{
        text-align: center;
        width: 100%
    }
}

.frame{
    width: 24%;
}

@media (max-width: $col-desktop) { 
    .frame{
        width: 100%;
    }

}